{%- comment -%}Generating srcset{%- endcomment -%}
{% unless sizes %}
    {%- assign sizes = "375,750,1100,1500,1780,2000,2800" -%}
  {% endunless %}
  
  {%- assign sizesArray = sizes | split: ',' -%}
  
  {%- assign srcSet = "" -%}
  {% for size in sizesArray %}
    {%- assign sizeInt = sizse |plus : 0 -%}
    {% if image.width >= sizeInt  %}
      {%- assign resString = size | append: "x" -%}
      {%- assign widthString = " " |append: size | append: "w," -%}
      {%- assign url = image | img_url: resString -%}
      {%- assign srcSet = srcSet | append: url | append: widthString -%}
    {% endif %}
  {% endfor %}
  {%- comment -%}Stripping off trailing comma{%- endcomment -%}
  {% assign srcSetLength = srcSet | size | minus: 1 %}
  {% assign srcSet = srcSet | slice: 0, srcSetLength %}
  
  {%- comment -%}Creating Url{%- endcomment -%}
  {%- assign url = image | img_url: defaultRes -%}
  {% if defaultRes == blank %}
    {%- assign url = image | img_url: '750x' -%}
  {% endif %}
  
  
  <div class="media-wrapper media media--transparent {{wrapperClass}}" style="padding-bottom: {{ 1 | divided_by: image.aspect_ratio | times: 100 }}%;">
    <img srcset="{{srcSet}}"
      {% if imageId %}
        id="{{imageId}}"
      {% endif %}
      sizes="auto"
      src="{{ url }}"
      loading="lazy"
      alt="{{ image.alt | escape }}"
      width="{{ image.width }}"
      height="{{ image.width | divided_by: image.aspect_ratio }}"
    >
  </div>