<div class="home row top-sellers">
<div class="section_titles">
<h3>{{ section.settings.title }}</h3>
<!-- -->
</div>

<div class="slider-wrapper" id="topsellers-home">
  <div class="topsellers">

    {%- for block in section.blocks -%}
    {% assign product_handle = block.settings.product %}
    {% assign product = all_products[product_handle] %}
    {% assign variant_index = block.settings.index | plus: 0 %}
    {% assign varant_product = product.variants[variant_index] %}
    {% assign product_image =  varant_product | img_url: '600x' %}

    <a href="{{ varant_product.url }}">
      {%- assign disable_lazyload = section.settings.disable_lazyload -%}
      <div class="slide">
        <div class="prod-image">
          <picture>
            {%- comment -%}
              DESKTOP -- we're targeting range of widths here
                1280-1600px screen = 1600px image
                1601-1920px screen = 1920px image
                >1920px screen     = 2560px image
            {%- endcomment -%}
            <source media="(min-width: 1601px)" srcset="{{ varant_product | img_url: '700x' }} 1x, {{ varant_product | img_url: '700x', scale: 2 }} 2x">
            <source media="(min-width: 1280px)" srcset="{{ varant_product | img_url: '500x' }} 1x, {{ varant_product | img_url: '500x', scale: 2 }} 2x">

            {%- comment -%}
              TABLET -- 768px & 1024px (we're being very specific here)
            {%- endcomment -%}
            <source media="(min-width: 1024px)" srcset="{{ varant_product | img_url: '400x' }} 1x, {{ varant_product | img_url: '400x', scale: 2 }} 2x">
            <source media="(min-width: 768px)"  srcset="{{ varant_product | img_url: '300x' }} 1x, {{ varant_product | img_url: '300x', scale: 2 }} 2x">

            {%- comment -%}
              MOBILE -- 414px max because it's the widest among the most popular screen widths
            {%- endcomment -%}
            <img
              data-old-src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
              srcset="{{ varant_product | img_url: '414x' }} 1x, {{ varant_product | img_url: '300x', scale: 2 }} 2x"
              alt="{{ varant_product.image.alt }}"
              class="img-responsive lazyload"
              loading="lazy"
              fetchpriority="low"
            >
          </picture>
        </div>
        <div class="topsellers-rating-block">
          {% include 'okendo-reviews-product-rating-summary' %}
        </div>
        <div class="slide-content">
          <h5>{% if product.metafields.my_fields.stage %}{{ product.metafields.my_fields.stage }} {% else %}&nbsp;{% endif %}</h5>              
          <h4>{{ product.title }}</h4>      
            <p>
              {% if product.metafields.my_fields.highlight %}
                {{ product.metafields.my_fields.highlight }}
              {% else %}
                &nbsp;
              {% endif %}
              </p>
            <div class="btn"><span>SHOP NOW - </span><span>{{ varant_product.price | money }}</span></div>
            {% if product.metafields.my_fields.savings_label %}
            <span class="savings-label"> {{ product.metafields.my_fields.savings_label }} </span>
          {% endif %}
        </div>
 
      </div>
     
    </a>

 {%- endfor -%}


  </div>
</div>
<a href="/collections/all" class="btn top-sellers-all"><span>Shop all top sellers</span></a> 
</div>
<script>
  $('.topsellers').slick({
        slidesToShow: 3,
        slidesToScroll: 1,    
        dots: false,
        arrows: true,
    	  prevArrow: '<button class="slick-prev"></button>',
		    nextArrow: '<button class="slick-next"></button>',
        autoplay: false,
        infinite:false,
        loop: false,
        speed: 500,
        autoplaySpeed: 4000,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 1,
              infinite: true,
              dots: false
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1.3,
              slidesToScroll: 1,
              centerMode: false,
              centerPadding: '20%',
              infinite: false
            }
          }
         
        ]
   });
   $('.topsellers').show();
</script>

{% schema %}
{
    "name": "Top Sellers",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Top Sellers"
      }  
    ],
    "blocks": [
        {
            "type": "product",
            "name": "Top Seller",
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                  "type": "text",
                  "id": "index",
                  "label": "Index"
                }
            ]
        }
    ],
  "presets": [
        {
            "name": "Top Sellers",
            "category": "Banner"
        }
    ]
}
{% endschema %}