<div class="page-ambassador">
	<div class="ambassador-hero" style="background-image: url({{'ambassador-hero-bg.jpg' | asset_url}});">
		<div class="ambassador-hero__inner">
			<div class="ambassador-hero-video" style="background-image: url({{'ambassador-video.png' | asset_url}});">
				<a href="https://www.youtube.com/watch?v=O5b68TLkvHM&feature=youtu.be" data-fancybox="" target="_blank">
					<button style="background-image: url({{'playbutton.png' | asset_url }});"></button>
				</a>
			</div>

			<div class="ambassador-hero-content">
				<div class="ambassador-video--content">
					<h5>Become a</h5>
					<h1>BOSS</h1>
					<a href="https://bossmanbrand.refersion.com/affiliate/registration">Join Now</a>
				</div>
			</div>
		</div>
	</div>

	<div class="ambassador-join">
		<div class="ambassador-join-image" style="background-image: url({{'JoinAmbassadorTeam.png' | asset_url}});">
		</div>
		<div class="ambassador-join-text">
			<h5>Join the Bossman Brand</h5>
			<h2>Ambassador Team</h2>
          <h4>At <span>BOSSMAN</span>, we are strongly passionate about building a brotherhood of like-minded bosses who are serious about their beards. From modern professionals to outdoor enthusiasts, we represent all men who take pride in embracing timeless class and style. We are modern renaissance men. We have perseverance and self-discipline. We are risk-takers who take the game by the scruff of the neck. We are the ultimate definition of a real boss.<br><br>If you are looking to be part of a community of strong-minded, talented bosses, then our <a href="https://www.facebook.com/bossmanbrands" style="color:#fff;">Bossman Brotherhood</a> is for you. Join our ambassador program today and start working with the beard company that is changing the game.</h4>
		</div>
	</div>

	<div class="ambassador-share">
		<div class="ambassador-share-content">
			<h2>
				<span>15%</span> Commission +<br>Unique Link to Track Sales</h2>
			<h5>Every ambassador will be given a unique link to manage sales and commissions. Every sale you make through your unique link will earn you 15% commissions to be paid out monthly.</h5>
		</div>
		<div class="ambassador-share-image" style="background-image: url({{'commission-bg.jpg' | asset_url}});"></div>
	</div>
	<div class="ambassador-join bottom">
		<div class="ambassador-join-image" style="background-image: url({{'ReadyToJoin.jpg' | asset_url}});">
		</div>
		<div class="ambassador-join-text">
			<h5>Ready to Join</h5>
			<h2>Your Bearded Brothers?</h2>
			<h4>To start the process of becoming a Bossman Brands Ambassador, we have to make sure you're repping the brand and (of course) using Bossman products as part of your bearded journey. The first step is easy, you just make a purchase and use the 10% off code "GOBOSS" at checkout. No exceptions. After making your purchase using the mentioned code, you will immediately receive special instructions on your next steps as a Bossman Brands Ambassador!</h4>
		</div>
	</div>
</div>

<style>
.page-ambassador .ambassador-share .ambassador-share-content h2 {
    margin: 0;
    font-family: 'bely',sans-serif;
    font-size: 50px;
}
  .page-ambassador .ambassador-share .ambassador-share-content h2 span{
  color: #c29555;
}
.page-ambassador .ambassador-join .ambassador-join-text h2 {
    margin: 0;
    font-family: 'bely',sans-serif;
    font-size: 65px;
    color: #fff;
    font-weight: 700;
}
</style>